PG_URL="postgresql://3f9@b7#d5e1!c8&2a4^f0*9e6$bd1c2:8d2&e7#1a4$f0*cb9!6f3^S3#23ea7c0@localhost/mwsd"

APP_URL = "http://127.0.0.1:8000"

# USER SESSION EXTENSIONS 
STANDARD_EXPIRES_IN_HRS = 1
STANDARD_EXTENSION_HRS = 1 

# MESSAGE EXPIRATION
STANDARD_MESSAGE_EXPIRES_IN_HRS = 120